<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Esfera de Lenguajes de Programación</title>
    
    <!-- TAILWIND LOCAL -->
    <link rel="stylesheet" href="static/css/output.css">
    
</head>
<body>
    <div id="info">ESFERA DE LENGUAJES — GIRANDO</div>
    <script type="importmap">
    {
        "imports": {
            "three": "/node_modules/three/build/three.module.js",
            "three/addons/": "/node_modules/three/examples/jsm/"
        }
    }
    </script>
    <script type="module" src="static/js/script.js"></script>
</body>
</html>
